<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add user by form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<h1>You can add a new user here</h1>

<form action="#" th:action="@{/user}" th:object="${user}" enctype="multipart/form-data" method="post">
    <table>
        <tr>
            <td>Second name:</td>
            <td><input type="text" th:field="*{secondName}"/></td>
            <td th:if="${#fields.hasErrors('secondName')}" th:errors="*{secondName}">Second Name Error</td>
        </tr>
        <tr>
            <td>First name:</td>
            <td><input type="text" th:field="*{firstName}"/></td>
            <td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First Name Error</td>
        </tr>
        <tr>
            <td>Patronymic:</td>
            <td><input type="text" th:field="*{patronymic}"/></td>
            <td th:if="${#fields.hasErrors('patronymic')}" th:errors="*{patronymic}">Patronymic Error</td>
        </tr>
        <tr>
            <td>Age:</td>
            <td><input type="text" th:field="*{age}"/></td>
            <td th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</td>
        </tr>
        <tr>
            <td>Salary:</td>
            <td><input type="text" th:field="*{salary}"/></td>
            <td th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}">Salary Error</td>
        </tr>
        <tr>
            <td>E-Mail:</td>
            <td><input type="text" th:field="*{eMail}"/></td>
            <td th:if="${#fields.hasErrors('eMail')}" th:errors="*{eMail}">Name Error</td>
        </tr>
        <tr>
            <td>Place of work:</td>
            <td><input type="text" th:field="*{workplace}"/></td>
            <td th:if="${#fields.hasErrors('workplace')}" th:errors="*{workplace}">Workplace Error</td>
        </tr>
        <tr>
            <td><input type="submit" value="Add"/></td>
            <td><input type="reset" value="Reset"/></td>
        </tr>
    </table>
</form>

<a href="/upload">Upload users by file</a>
<p>
<a href="/finduser">Find an existing user</a>
</p>
</body>
</html>